.focustip {
	box-sizing: content-box;
	position: fixed;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 999;
	background: transparent;
	border: solid 2px #FFF;
	box-shadow: inset 0 2px 16px rgba(0,0,0,.3);
}
.focustip--invisible {
	display: none;
	opacity: 0;
}
.focustip--visible {
	display: block;
	opacity: 1;
}
.focustip__lens {
	box-sizing: content-box;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	margin-top: -5002px;
	margin-left: -5002px;
	border-radius: 50%;
	border: solid 5000px rgba(0,175,230,0.8);
}
.focustip__contentWrapper {
	box-sizing: content-box;
	color: #FFF;
	font-size: 25px;
	position: absolute;
	top: calc(100% + 10px);
	left: 30%;
	width: 400px;
	line-height: 1.15em;
}
.focustip__contentWrapper.focustip__contentWrapper--top {
	top: auto;
	bottom: calc(100% + 10px);
}
.focustip__contentWrapper.focustip__contentWrapper--left {
	left: auto;
	right: 30%;
}
.focustip__content {
	margin: 10px 0;
}
.focustip__ok {
	box-sizing: content-box;
	display: inline-block;
	background: rgba(255,255,255,0.15);
	text-transform: uppercase;
	letter-spacing: -0.5px;
	padding: 10px 15px;
	text-decoration: none;
	color: inherit;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;

	-webkit-transition: all 0.3s ease;                  
	-moz-transition: all 0.3s ease;                 
	-o-transition: all 0.3s ease;   
	-ms-transition: all 0.3s ease;          
	transition: all 0.3s ease;
}
.focustip__ok:hover{
	background: rgba(255,255,255,0.25);
	opacity: 1;
	text-decoration: none;
}
/*
@media only screen and (max-width: 700px) { 
	.focustip__contentWrapper{
		font-size: 18px;
		width: 300px;
		left: 0;
	}
	.focustip__contentWrapper.focustip__contentWrapper--left {
		right: 0;
	}
	.focustip__ok{
		font-size: 18px;
	}
}

@media only screen and (max-width: 400px) { 
	.focustip__contentWrapper{
		font-size: 16px;
		width: 100vw;
		left: 0;
	}
	.focustip__contentWrapper.focustip__contentWrapper--left {
		right: 0;
	}
	.focustip__ok{
		font-size: 16px;
	}
}
*/